<a href="https://colab.research.google.com/github/sj21446/IATI_data/blob/master/IATI_DFID_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This code pulls in a CSV file on DFID's work in Uganda, which has been produced using the IATI data standard, chooses the specific fields (columns) that I want to work on, and exports it to an Excel sheet for ease of use.

This is the the full pandas code. It's broken down into sections below.

In [0]:
# this imports pandas and renames it as pd
import pandas as pd

# this fetches the CSV file from a URL and reads the contents
datadoc = pd.read_csv("https://raw.githubusercontent.com/sj21446/IATI_data/master/DFID_Uganda_current_activities_04062020.csv")

# this gives an idea of whether all the data we were expecting is in datadoc - is it the right size/shape?
print(datadoc.shape)

# this gives a readout of the first three lines of data, to check it's the right file.
print(datadoc.head(3))

# this gives a readout of the columns and the types of data in each
print(datadoc.dtypes)

# this gives us a complete list of all the column headings
print(datadoc.columns)

# this brings back a list of implementing organisations currently funded by DFID in Uganda
# together with the value of the transaction, the title of the project, the IATI identifier for the project and the status code for the project.
implementers = pd.DataFrame(datadoc, columns=["participating-org (Implementing)", "transaction-value", "title", "activity-status-code", "iati-identifier"])

# this tests that the filter is correct
display(implementers)

# this exports the filtered data to a new Excel file, with headers and without the Index column
implementers.to_excel (r"DFID_Uganda_implementers.xlsx", index=False, header=True)

Let's break it down. First thing to do is to import the pandas package. When you're working with Pandas, it's common to abbreviate it to pd.

In [0]:
# this imports pandas and renames it as pd
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Then we fetch the CSV file that we're going to be working on - this one happens to be on my Github repo. It's a CSV file of all of DFID's activities in Uganda. We then create a DataFrame to hold the data, called datadoc

In [0]:
# this fetches the CSV file from a URL and reads the contents and creates a DataFrame called datadoc
datadoc = pd.read_csv("https://raw.githubusercontent.com/sj21446/IATI_data/master/DFID_Uganda_current_activities_04062020.csv")

This snippet gives us some feedback on the size and shape of datadoc, to see if its got all the data that we were expecting. The first number is the number of rows, and the second number is the number of columns.

In [9]:
# this gives an idea of whether all the data we were expecting is in datadoc - is it the right size/shape?
print(datadoc.shape)

(602, 74)

Then we can call up the first three lines of datadoc, just to check that the data looks like what we were expecting:

In [10]:
# this gives a readout of the first three lines of data, to check it's the right file.
print(datadoc.head(3))

   transaction-type  ... default-tied-status-code
0                 2  ...                        5
1                 3  ...                        5
2                 2  ...                        5

[3 rows x 74 columns]

We can also get a list of the column headings, and the type of data contained in each column in datadoc

In [11]:
# this gives a readout of the columns and the types of data in each
print(datadoc.dtypes)

transaction-type              int64
transaction-date             object
default-currency             object
transaction-value             int64
transaction_ref              object
                              ...
collaboration-type-code       int64
default-finance-type-code     int64
default-flow-type-code        int64
default-aid-type-code        object
default-tied-status-code      int64
Length: 74, dtype: object

You can also get the column headings this way (without the types of data)

In [14]:
print(datadoc.columns)

Index(['transaction-type', 'transaction-date', 'default-currency',
       'transaction-value', 'transaction_ref', 'transaction_value_currency',
       'transaction_value_value-date', 'transaction_provider-org',
       'transaction_provider-org_ref',
       'transaction_provider-org_provider-activity-id',
       'transaction_receiver-org', 'transaction_receiver-org_ref',
       'transaction_receiver-org_receiver-activity-id',
       'transaction_description', 'transaction_flow-type_code',
       'transaction_finance-type_code', 'transaction_aid-type_code',
       'transaction_tied-status_code', 'transaction_disbursement-channel_code',
       'transaction_recipient-country-code', 'transaction_recipient-country',
       'transaction_recipient-region-code', 'transaction_recipient-region',
       'transaction_sector-code', 'transaction_sector',
       'transaction_sector-vocabulary', 'transaction_sector-vocabulary-code',
       'iati-identifier', 'hierarchy', 'last-updated-datetime',
       'default-language', 'reporting-org', 'reporting-org-ref',
       'reporting-org-type', 'reporting-org-type-code', 'title', 'description',
       'activity-status-code', 'start-planned', 'end-planned', 'start-actual',
       'end-actual', 'participating-org (Accountable)',
       'participating-org-ref (Accountable)',
       'participating-org-type (Accountable)',
       'participating-org-type-code (Accountable)',
       'participating-org (Funding)', 'participating-org-ref (Funding)',
       'participating-org-type (Funding)',
       'participating-org-type-code (Funding)',
       'participating-org (Extending)', 'participating-org-ref (Extending)',
       'participating-org-type (Extending)',
       'participating-org-type-code (Extending)',
       'participating-org (Implementing)',
       'participating-org-ref (Implementing)',
       'participating-org-type (Implementing)',
       'participating-org-type-code (Implementing)', 'recipient-country-code',
       'recipient-country', 'recipient-country-percentage',
       'recipient-region-code', 'recipient-region',
       'recipient-region-percentage', 'sector-code', 'sector',
       'sector-percentage', 'sector-vocabulary', 'sector-vocabulary-code',
       'collaboration-type-code', 'default-finance-type-code',
       'default-flow-type-code', 'default-aid-type-code',
       'default-tied-status-code'],
      dtype='object')

If everything is looking like we were expecting, the next stage is to create a DataFrame (called implementers) which just includes the data that I want to work with, based on the column headings. I also ordered the columns in the order that I wanted, rather than the order that they were in, in the CSV.

In [0]:
# this brings back a list of implementing organisations currently funded by DFID in Uganda
# together with the value of the transaction, the title of the project, the IATI identifier for the project and the status code for the project.
implementers = pd.DataFrame(datadoc, columns=["participating-org (Implementing)", "transaction-value", "title", "activity-status-code", "iati-identifier"])

And then I can check that this filtering has worked:

In [13]:
# this tests that the filter is correct
display(implementers)

                      participating-org (Implementing)  ...  iati-identifier
0    International Bank for Reconstruction and Deve...  ...  GB-1-205206-105
1    International Bank for Reconstruction and Deve...  ...  GB-1-205206-105
2                     Palladium International Ltd (UK)  ...  GB-1-205206-109
3                     Palladium International Ltd (UK)  ...  GB-1-205206-109
4                     Palladium International Ltd (UK)  ...  GB-1-205206-109
..                                                 ...  ...              ...
597  Federal Ministry of Education and Research of ...  ...  GB-1-203624-103
598  Federal Ministry of Education and Research of ...  ...  GB-1-203624-103
599  Federal Ministry of Education and Research of ...  ...  GB-1-203624-103
600  Federal Ministry of Education and Research of ...  ...  GB-1-203624-103
601  Federal Ministry of Education and Research of ...  ...  GB-1-203624-103

[602 rows x 5 columns]

If we've finished selecting the data, we can then export it in the file format we need - I've chosen Excel as I'm going to do further analysis in Excel or Power BI. This code exports the selected data to an Excel file called DFID_Uganda_implementers.xlsx. As Pandas treats each column as a series, each row of a column is also indexed (has a number attached to it, starting from 0). You can chose to include the Index number (index=True) as the first column or your Excel or CSV sheet, or not include it (index=False). You can also include the column headers by including header=True.

In [0]:
# this exports the filtered data to a new Excel file, with headers and without the Index column
implementers.to_excel (r"DFID_Uganda_implementers.xlsx", index=False, header=True)